<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/approval-style.css')}}" />
</head>

<body>
  <h3>{{ from_month }}月の付与予定日数一覧</h3>
  <p>{{ today }}時点のものです。</p>
  <form method="post" action="/confirm-grant-holidays">
    <div class="holiday-info-container">
      <div class="holiday-info-title">
        <p>Staff ID</p>
        <p>入職日</p>
        <p>ここ1年の勤務日数</p>
        <p>次の付与予定日数</p>
        <p>追加繰越日数</p>
      </div>
      {% for staff_id, holidays_info in from_now_holidays.items() %}
      <div class="holiday-info-summary">
        <input type="text" name="staff_id" value="{{ staff_id }}">
        <p>{{ holidays_info.get('in_day') }}</p>
        <p>{{ holidays_info.get('recent_work_count') }}</p>
        <input type="text" name="from_now_on_grant" value="{{ holidays_info.get('from_now_on_grant') }}">
        <input type="text" name="additional_carry_over">
      </div>
      {% endfor %}
    </div>
    <input type="submit" value="付与日数を確定する">
  </form>
  <div id="back-wrap">
    <input type="button" value="戻る" id="btnBack" class="btn">
  </div>
</body>
<script>
  const btnBack = document.getElementById('btnBack');
  btnBack.addEventListener('click', function () {
    location.pathname = '/select-for-carry-over';
  });
</script>

</html>