{% extends 'home.html' %}

{% block child_content %}
<h3>所属スタッフ出退勤</h3>
<br /><br>
<br><br>

<a href="{{ url_for('select_links') }}" class="btn btn-success">　戻　る　</a>

<br><br>
<br><br>

<div class="form-group">
  {# jinja2.exceptions.TemplateRuntimeError: No test named 'False' found
  アプリ制作時に悩まされたエラー集
  https://blowup-bbs.com/python-app-error/ #}
  {% if type_flg == False %}
  {% set select_page_link = 'jimu_select_page' %}
  {% else %}
  {% set select_page_link = 'clerk_select_page' %}
  {% endif %}
  <form method="POST" action="{{ url_for(select_page_link) }}">
    <div class="w-25">
      <select class="form-control form-control-sm" name="select_page">
        <option value="0">選択してください</option>
        {% for k, v in select_page.items() %}
        <option value="{{ k }}">{{ v }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <div class="w-25">
      {% if current_user.STAFFID != 10000 %}
      <input class="form-control btn btn-primary" type="submit" value="選　択">
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}