{% extends 'home.html' %}

{% block child_content %}
<h2>パスワード変更</h2>
<br><br>
<h3>1社員番号：{{ current_user.STAFFID }}　氏名：{{ u.LNAME }} {{ u.FNAME }}</h3>
<hr />
<div class="container base-w">
  <div class="alert alert-info" {{ hid_a }}>設定したいパスワードを入力してください。</div>
  <div class="alert alert-warning" {{ hid_b}}>入力したパスワードが一致しません。</div>
<div class="disp">
      <div class="form-group w-50 mx-auto">
        <form method="POST" action="{{ url_for('reset_token_self', STAFFID=STAFFID) }}">
          {{ form.csrf_token }}

          {{  wtf.form_field(form.PASSWORD) }}
          {{  wtf.form_field(form.PASSWORD2) }}          
          <br>
          {% if stf_login.ADMIN is true %}
          {{  wtf.form_field(form.ADMIN) }}
          {% endif %}

          <br>

          {{  wtf.form_field(form.submit) }}
        </form>
    </div>

</div>
{% endblock %}
