{% extends 'base.html' %}
{% block title %}Select Team for Carry Over{% endblock %}
{% block content %}

<p>現在{{ user_info.LKANA }}さんが利用中です。</p>
<h3>2年分遡った、繰り越し計算に必要なデータを表示します。</h3>
<form method="post" action="/select-for-carry-over">
  <p>所属を選択してください</p>
  <select name="team_number">
    {% for team_num in team_list %}
    <option value="{{ team_num.CODE }}">{{ team_num.SHORTNAME }}</option>
    {% endfor %}
    <!-- <input type="text" name="form_token" id="uuid-area" value="{#{ new_token }#}" /> -->
  </select>
  <input type="submit" value="表示">
</form>
<!-- <button class="generate-uuid">トークン</a> -->
<p class="boundary-p"></p>
<div class="holiday-panel"><a href="{{ url_for('get_paid_holiday_list') }}">年休記録修正</a></div>
<p class="boundary-p">下記リンクは主に<strong>3月31日</strong>、及び<strong>9月30日</strong>用です</p>
<div class="next-grant-panel"><a href="{{ url_for('confirm_grant_holidays') }}">次回の年休付与</a></div>
{% endblock %}