@charset 'utf-8';

#dl-pdf {
  // display: flex;
  // flex-wrap: wrap;

  .title-name {
    width: 100%;
    margin: 0 auto;
  }

  .holiday-alert {
    width: 80%;
    height: 7vh;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    background-color: moccasin;
    color: deeppink;
    margin: 0 auto;
  }

  .date-area {
    width: 10%;
  }

  .table-area {
    width: 90%;
  }
}