@charset "UTF-8";
.container a.btn-notice {
  background-color: lightgrey;
  color: green;
  margin: 1%;
}
.container input.btn-approval {
  background-color: gray;
  color: lightgreen;
  margin: 1%;
}

h3.h3-list {
  text-align: center;
}

input.month-calender {
  font-size: 1.7rem;
}

.to-notice-form {
  text-align: center;
}
.to-notice-form a.to-notice-button {
  background-color: yellow;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
  color: blue;
  font-size: 2rem;
  width: 15%;
}

.status-ctl {
  height: 6vw;
}
.status-ctl select#status {
  font-size: 1.7rem;
  vertical-align: middle;
  width: 10%;
  margin-right: 2%;
}
.status-ctl input#extract-status {
  background-color: burlywood;
  color: darkred;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  width: 10%;
  height: 50%;
}

.charge-back {
  height: 4vw;
  margin-top: 1%;
}
.charge-back input {
  width: 15%;
  height: 90%;
}

#approval-site {
  padding-top: 5%;
}
#approval-site table.table-notification {
  width: 90%;
  margin-right: 0;
}

.holiday {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 40%;
  height: 13vw;
}
.holiday .term-list {
  width: 52%;
  height: 3.5rem;
}
.holiday .remain {
  border: 2px solid;
  padding: 2%;
  margin-top: 3.5rem;
  height: 5em;
}

h3.notification-title {
  text-align: center;
}

#worktime {
  display: none;
}

form#approval {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 35vw;
  font-size: 1.7rem;
  position: relative;
}
form#approval div:not(.remark) {
  flex: 0 0 25%;
  padding: 0 1.5%;
}
form#approval div:not(.remark) p.p-day {
  height: 4vw;
}
form#approval div:not(.remark) input {
  width: 65%;
}
form#approval .remark {
  width: 70%;
  margin-left: 25%;
}
form#approval .remark textarea {
  width: 90%;
  height: 65%;
}
form#approval input.btn-ask {
  width: 25%;
  background-color: lightgray;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
  margin-top: 2%;
}
form#approval #confirm-modal {
  visibility: hidden;
  background-color: darkturquoise;
  width: 45%;
  transition: visiblity 2s ease 2s;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.3);
  padding: 4%;
  position: absolute;
  bottom: 100%;
  right: 0%;
}
form#approval #confirm-modal p {
  text-align: center;
}
form#approval #confirm-modal .submit-area {
  text-align: center;
}
form#approval #confirm-modal .submit-area span input {
  width: 30%;
  margin: 3%;
}

.field-invalid::after {
  content: "このフィールドは必須です。";
  display: block;
  color: red;
}

.field-invalid select,
.field-invalid input {
  border: 1px solid red;
}

form.form-bottom {
  height: 15vw;
  margin-left: 20%;
  font-size: 1.7rem;
}
form.form-bottom textarea {
  width: 90%;
  height: 40%;
}
form.form-bottom button.judgement {
  background-color: lightslategray;
  width: 20%;
}

.confirm-back {
  height: 4vw;
}
.confirm-back input {
  width: 15%;
  height: 90%;
}

.modal {
  display: flex;
  visibility: hidden;
  width: 40%;
  height: 30%;
  margin: auto;
  background-color: aliceblue;
}
.modal p {
  margin: auto;
  font-size: 2rem;
}

.outday-area p {
  display: none;
}
.outday-area p#outday-on {
  color: chartreuse;
}

td.shadow-column1,
td.shadow-column2 {
  display: none;
}

.back-caution {
  background-color: tomato;
  margin: 0 5% 0 5%;
}
.back-caution .the-caution {
  font-size: larger;
  color: khaki;
  text-align: center;
}
.back-caution .caution-message {
  color: cyan;
  text-align: center;
}