{% extends 'home.html' %}

{% block child_content %}
<h2>契約情報変更</h2>
<h3>社員番号：{{ StaffInfo.STAFFID }}　氏名：{{ StaffInfo.M_STAFFINFO.LNAME }} {{ StaffInfo.M_STAFFINFO.FNAME }}</h3>
<br>
<div class="text-center">
    <a href="{{url_for('edit_list_user')}}" class="btn btn-success">編集リスト画面に戻る</a>　　　 
    <a href="{{url_for('home_admin')}}" class="btn btn-success">管理者ホームに戻る</a>　　　
</div>
<hr />

<div id="adm-tbl" class="col-10 center-block">
  <div class="sortsss-table">
    <form method="POST" action="{{ url_for('edit_user_history', STAFFID=StaffInfo.STAFFID, ProcFlag=1) }}" onsubmit="return chk1(this)">
      <ul id="Errortext" class="text-center text-danger h4 list-group">
      </ul>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul id="successMSG" class="list-group">
            {% for category, message in messages %}
                <li class="{{ category }} list-group-item">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
      <div class="text-center mb-5">
        <input type="submit" class="btn btn-primary" value="　保　存　">
      </div>
      <table id="his-table" class="table table-striped table-hover">
        
          <thead>
              <tr class="table-primary h4">
                  <th>職種</th>
                  <th>契約形態</th> 
                  <th>パート作業時間</th>
                  <th>開始日</th>
                  <th>終了日</th>                    
              </tr>
          </thead>
          <tbody id="fav-body">
            <!-- ここから行追加用のダミー行 非表示設定-->
            <tr style="display:none;">
              <td>
                <select class="form-control form-control-sm h4" name="Job" style="border:1px solid;border-color:#dcdcdc;">
                  {% for item in ListJob %}
                    <option value="{{ item[0] }}">{{ item[1] }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select class="form-control form-control-sm h4" name="con" style="border:1px solid;border-color:#dcdcdc;">
                  {% for item in ListCon %}
                    <option value="{{ item[0] }}">{{ item[1] }}</option>
                  {% endfor %}
                </select>
              </td>
                <td><input type="number"  step="0.1" class="h4" name="Pworktime" value=""></td>
                <td><input type="date" class="h4" name="StartDay" value=""></td>
                <td><input type="date" class="h4" name="EndDay" value=""></td>
                <td><input type="button" onclick="delRow(this)" class="btn btn-secondary" value="行削除"></td>
            </tr>
            <!-- ここまでが行追加用のダミー行 -->
            
              {% for Hist in History %}
              <tr>
                <td>
                  <select class="form-control form-control-sm h4" name="Job" style="border:1px solid;border-color:#dcdcdc;">
                    {% for item in ListJob %}
                      {% if Hist.D_JOB_HISTORY.JOBTYPE_CODE == item[0] %}
                        <option value="{{ item[0] }}" selected>{{ item[1] }}</option>
                      {% else %}
                        <option value="{{ item[0] }}">{{ item[1] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td>
                  <select class="form-control form-control-sm h4" name="con" style="border:1px solid;border-color:#dcdcdc;">
                    {% for item in ListCon %}
                      {% if Hist.D_JOB_HISTORY.CONTRACT_CODE == item[0] %}
                        <option value="{{ item[0] }}" selected>{{ item[1] }}</option>
                      {% else %}
                        <option value="{{ item[0] }}">{{ item[1] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                  <td><input type="number" step="0.1" class="h4" name="Pworktime" value="{{ Hist.D_JOB_HISTORY.PART_WORKTIME }}"></td>
                  <td><input type="date" class="h4" name="StartDay" value="{{ Hist.D_JOB_HISTORY.START_DAY }}"></td>
                  <td><input type="date" class="h4" name="EndDay" value="{{ Hist.D_JOB_HISTORY.END_DAY }}"></td>
                  <td><input type="button" onclick="delRow(this)" class="btn btn-secondary" value="行削除"></td>
              </tr>
            
              {% endfor %}
          </tbody>

      </table>
      <div class="text-center">
        <button type="button" class="btn btn-secondary" onclick="add()">行追加</button>
      </div>
    </form>  
  </div>
<div>
<script>
  function chk1(frm){

    let tbl = document.getElementById("his-table"); //テーブルのコントロールを取得
    const tbl_body = document.getElementById("fav-body");
    // 親要素
    let list = document.getElementById('Errortext');
    let listMSG = document.getElementById('successMSG');
    let ErrorText = ''; //エラーメッセージ(1行ずつ纏めたいので)
      // 子要素を全て削除
    while (list.firstChild) {
      list.removeChild(list.firstChild);
    }
    if (listMSG === null) {
    } else {
      while (listMSG.firstChild) {
        listMSG.removeChild(listMSG.firstChild);
      }
    }
    
    bolError = false
    for(var i = 2; i <= tbl_body.rows.length; i++){ //i=1はダミー
      ErrorText = '';
      let tr = tbl.rows[i];
      if (tr.getElementsByTagName('select')["Job"].value.trim() === '') {
        ErrorText = ErrorText + '『職種』';
        bolError = true
      }
      
      if (tr.getElementsByTagName('select')["con"].value.trim() === '') {
        ErrorText = ErrorText + '『契約形態』';
        bolError = true
      }

      if (tr.getElementsByTagName('input')["StartDay"].value.trim() === '') {
        ErrorText = ErrorText + '『開始日』';
        bolError = true
      }
      

      if (!(ErrorText === '')){
        let li = document.createElement('li');
        li.innerHTML = (i - 1) + '行目の' + ErrorText + 'が選択されていません';
        li.classList.add("list-group-item");
        // 末尾に追加
        list.appendChild(li);
 
      }

    }

    if (bolError === true){
      /* FALSEを返してフォームは送信しない */
      return false;
    }


  }
</script>
<script src="{{ url_for('static', filename='js/table_add_row.js') }}"></script>
{% endblock %}